extends ../layouts/layout.pug

block vars
    -pageStyleSheet = '../../styles/pages/pages.scss'

block body
    h1 Pug2
    p Lorem ipsum, dolor sit amet consectetur adipisicing elit. In facere repellendus sunt. Eius fugiat excepturi iusto error id ab vel suscipit unde officia illum? Labore deleniti tempora reiciendis modi id.